/**
 * Created with JetBrains WebStorm.
 * User: lamoi
 * Date: 2/13/13
 * Time: 9:02 PM
 * To change this template use File | Settings | File Templates.
 */

define([], function() {
    var config = {};
    config.apiKey = 'your api key';
    config.scopes = 'https://www.googleapis.com/auth/tasks https://www.googleapis.com/auth/userinfo.profile';
    config.clientId = 'your client id';
    return config;
});
